<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<div class="grid md:grid-cols-2 mt-8 md:mt-36">
    <div id="imageOne">
        <img class="drop-shadow-xl max-h-[950px] w-full md:h-5/6 md:w-3/4 object-cover mx-auto md:rounded-2xl" src="/images/ajur.jpg" alt=" ">
    </div>

    <div class="mt-8 md:w-5/6 text-gray-800">
        <h1 id="mainHead" class="text-2xl md:text-5xl font-bold font-montserrat text-center md:text-start">
            Tentang Hallobutter
        </h1>        
        <p id="paragraph" class="mt-4">
            <h2 class="mt-2 text-gray-700 text-base md:text-xl  text-center md:text-start font-montserrat">Hallobutter adalah sebuah patisserie yang menghadirkan kembali kudapan klasik dengan sentuhan tak terduga ke dunia dessert sejak tahun 2020. Karya inovatif kami menarik perhatian para penggemar makanan penutup di seluruh negeri dan membuat kami dikenal sebagai toko roti yang berani bereksperimen. Anda bisa memanggil kami Hallobutter saja. Meskipun kami tidak begitu antusias dengan kehebohan berlebihan, kami sangat bersemangat untuk memuaskan mereka yang merindukan rasa yang unik.</h2>
            <br>
            <h2 class="mt-4 text-gray-700 text-base md:text-xl text-center md:text-start font-montserrat">Didirikan oleh maestro pastry Intan Emadyana Fitriany, seorang ahli pastry berpengalaman dengan sepuluh tahun keahlian dalam dunia pastry. Hallobutter awalnya muncul dengan nama Blush Patisserie. Perjalanan kami dimulai pada tahun 2020 di pusat dunia kuliner, menawarkan beragam kudapan yang menggoda dan dengan cepat mendapatkan penggemar setia.</h2>
            <br>
            <h2 class="mt-4 text-gray-700 text-base md:text-xl  text-center md:text-start font-montserrat"> Di Hallobutter, kami percaya pada keajaiban transformasi dari kue yang diciptakan dengan sempurna atau potongan kue yang luar biasa. Kami merasa bahwa merayakan diri sendiri atau orang lain adalah momen yang pantas dihiasi dengan karya-karya lezat kami. Kami sangat bersemangat untuk berbagi cinta kami terhadap pastri yang luar biasa dengan Anda.</h2>
        </p>
    </div>
</div>

<div class="grid md:grid-cols-2 py-10 mt-0 md:mt-0 mb-0 h-auto flex-col md:flex-row-reverse">
    <div id="imageTwo" class="md:order-1">
        <img class="drop-shadow-2xl w-full max-h-[300px] md:max-h-[500px] md:w-5/6 object-center mx-auto md:rounded-2xl" src="/images/tuyul.jpg" alt="">
    </div>

    <div class="mt-14 md:w-5/6 text-gray-800 mx-auto">
        <h1 id="secondHead" class="text-2xl md:text-5xl font-bold font-montserrat text-center">
            Tentang Owner
        </h1>        
        <p id="paragraph" class="mt-4">
            <h2  class="text-gray-700 p-4 text-center mx-auto md:text-xl font-montserrat">Intan Emadyana Fitriany, sosok di balik layar Hallobutter, telah melanglang buana di dunia pastry selama 10 tahun penuh cita rasa.
                Dari dapur JW Marriot hingga berkreasi di Hotel Mandarin, pengalaman berharga ini merembes dalam setiap sentuhan rahasia di setiap kue kami.
                Mari lebur dalam sensasi lezat yang Intan tuangkan dengan penuh kasih dan pengalaman dari tempat-tempat berkelas ini.
                Setiap gigitan adalah tiket ke pengalaman gastronomi yang tak terlupakan.</h2>
        </p>
    </div>
</div>



<%- include('./includes/footer.ejs') %>